<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#success}}
        <h3>{{success}}</h3>
    {{/success}}
    {{#failed}}
        <h3>{{failed}}</h3>
    {{/failed}}
    <form action="/jurusan/add" method="post">
        <label for="jurusan">jurusan:</label><br>
        <input required type="text" id="jurusan" name="jurusan"><br>
        <button type="submit">Kirim</button>
    </form>

    <a href="/jurusan">kembali</a>

</body>
</html>