<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#success}}
        <h3>{{success}}</h3>
    {{/success}}
    {{#failed}}
        <h3>{{failed}}</h3>
    {{/failed}}
    <form action="/mahasiswa/add" method="post">
        <label for="nama">nama:</label><br>
        <input required type="text" id="nama" name="nama"><br>
        <label for="npm">NPM:</label><br>
        <input required type="text" id="npm" name="npm">
        <br><label for="jurusan">Jurusan:</label><br>
        <select name="jurusan_id" class="form-select" aria-label="Default select example">
            {{#data}}
            <option value="{{id}}">{{jurusan}}</option>
            {{/data}}
        </select>
        <button type="submit">Kirim</button>
    </form>

    <a href="/mahasiswa">kembali</a>

</body>
</html>