<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit mahasiswa</h1>
    {{#success}}
        <h3>{{success}}</h3>
    {{/success}}
    {{#failed}}
        <h3>{{failed}}</h3>
    {{/failed}}
    <form action="/mahasiswa/update" method="POST">
        {{#data}}
        <input value="{{id}}" type="hidden" id="id" name="id"><br>
        <label for="nama">nama: {{nama}}</label><br>
        <input required value="{{nama}}" type="text" id="nama" name="nama"><br>
        <label for="npm">NPM:</label><br>
        <input required value="{{npm}}" type="text" id="npm" name="npm">
        <br><label for="jurusan">Jurusan:</label><br>
        <select name="jurusan_id" class="form-select" aria-label="Default select example">
            <option selected value="{{jurusan.id}}">{{jurusan.jurusan}}</option>
            {{#jurusan2}}
            <option value="{{id}}">{{jurusan}}</option>
            {{/jurusan2}}
        </select>
        {{/data}}
        <button type="submit">Kirim</button>
    </form>

    <a href="/mahasiswa">kembali</a>

</body>
</html>